.verify-style {
    text-align: center;
    margin-top: 100px;
}

.verify-style h2 {
    color: red;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.verify-style button {
    background-color: rgb(2, 51, 51);
    font-weight: 700;
    color: white;
    padding: 10px;
    border-radius: 5px;
}